In [2]:
import pandas as pd
excel_file = './copiedSalesData.xlsx'
df = pd.read_excel(excel_file)
print(type(df))
sales_data = 'sales_data.csv'
df.to_csv(sales_data, index=False)

<class 'pandas.core.frame.DataFrame'>

In [3]:
df.head(8)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0

In [4]:
df.tail(10)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0
40,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0
42,2019-12-21,Central,Martha Mia,Steven,Home Theater,28,500.0,14000.0
43,2003-04-05,South,Pazi,Rifat,GPU,1,45000.0,45000.0
44,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0

In [5]:
df.dtypes

OrderDate       datetime64[ns]
Region                  object
Manager                 object
SalesMan                object
Item                    object
Units                    int64
 Unit_price            float64
Sale_amt               float64
dtype: object

In [6]:
df.nunique()

OrderDate       43
Region           4
Manager          7
SalesMan        12
Item             6
Units           37
 Unit_price      6
Sale_amt        40
dtype: int64

In [7]:
df['Region'].nunique()
df['Region'].unique()
df['Region'].value_counts()

Region
Central    23
East       13
West        6
South       3
Name: count, dtype: int64

In [8]:
df.isnull().sum()

OrderDate       0
Region          0
Manager         0
SalesMan        0
Item            0
Units           0
 Unit_price     0
Sale_amt        0
dtype: int64

In [9]:
df.describe()

                 OrderDate      Units   Unit_price        Sale_amt
count                   45  45.000000     45.000000      45.000000
mean   2017-12-03 16:32:00  46.955556   3544.077778   31892.788889
min    2003-04-05 00:00:00   1.000000     58.500000     250.000000
25%    2018-05-22 00:00:00  16.000000    225.000000    4329.000000
50%    2018-11-25 00:00:00  50.000000    500.000000   23000.000000
75%    2019-05-31 00:00:00  74.000000   1198.000000   45000.000000
max    2019-12-21 00:00:00  96.000000  45000.000000  113810.000000
std                    NaN  31.363670  11213.080510   31650.114958

In [10]:
df.SalesMan

0     Alexander
1        Shelli
2          Luis
3         David
4       Stephen
5     Alexander
6        Steven
7          Luis
8       Michael
9     Alexander
10        Sigal
11        Diana
12        Karen
13    Alexander
14         John
15    Alexander
16        Sigal
17    Alexander
18        Karen
19       Shelli
20         John
21        Karen
22        David
23         John
24    Alexander
25      Stephen
26         Luis
27       Steven
28        Diana
29        David
30        David
31       Shelli
32    Alexander
33        Sigal
34       Shelli
35      Stephen
36        David
37      Stephen
38      Michael
39       Steven
40        Rifat
41         Luis
42       Steven
43        Rifat
44        Rifat
Name: SalesMan, dtype: object

In [11]:
df['SalesMan']

0     Alexander
1        Shelli
2          Luis
3         David
4       Stephen
5     Alexander
6        Steven
7          Luis
8       Michael
9     Alexander
10        Sigal
11        Diana
12        Karen
13    Alexander
14         John
15    Alexander
16        Sigal
17    Alexander
18        Karen
19       Shelli
20         John
21        Karen
22        David
23         John
24    Alexander
25      Stephen
26         Luis
27       Steven
28        Diana
29        David
30        David
31       Shelli
32    Alexander
33        Sigal
34       Shelli
35      Stephen
36        David
37      Stephen
38      Michael
39       Steven
40        Rifat
41         Luis
42       Steven
43        Rifat
44        Rifat
Name: SalesMan, dtype: object

In [12]:
df[df['Units'] > 80]

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0

In [13]:
df.sort_values(by='Units', ascending=True)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
44,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0
40,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0
43,2003-04-05,South,Pazi,Rifat,GPU,1,45000.0,45000.0
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0
42,2019-12-21,Central,Martha Mia,Steven,Home Theater,28,500.0,14000.0
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0

In [14]:
df.drop(columns=['Manager'], inplace=True)

In [15]:
df.head()

   OrderDate   Region   SalesMan          Item  Units   Unit_price   Sale_amt
0 2018-01-06     East  Alexander    Television     95        1198.0  113810.0
1 2018-01-23  Central     Shelli  Home Theater     50         500.0   25000.0
2 2018-02-09  Central       Luis    Television     36        1198.0   43128.0
3 2018-02-26  Central      David    Cell Phone     27         225.0    6075.0
4 2018-03-15     West    Stephen    Television     56        1198.0   67088.0

In [16]:
df.drop(columns=['Region'], inplace=False)

    OrderDate   SalesMan          Item  Units   Unit_price   Sale_amt
0  2018-01-06  Alexander    Television     95        1198.0  113810.0
1  2018-01-23     Shelli  Home Theater     50         500.0   25000.0
2  2018-02-09       Luis    Television     36        1198.0   43128.0
3  2018-02-26      David    Cell Phone     27         225.0    6075.0
4  2018-03-15    Stephen    Television     56        1198.0   67088.0
5  2018-04-01  Alexander  Home Theater     60         500.0   30000.0
6  2018-04-18     Steven    Television     75        1198.0   89850.0
7  2018-05-05       Luis    Television     90        1198.0  107820.0
8  2018-05-22    Michael    Television     32        1198.0   38336.0
9  2018-06-08  Alexander  Home Theater     60         500.0   30000.0
10 2018-06-25      Sigal    Television     90        1198.0  107820.0
11 2018-07-12      Diana  Home Theater     29         500.0   14500.0
12 2018-07-29      Karen  Home Theater     81         500.0   40500.0
13 2018-08-15  Alexander    Television     35        1198.0   41930.0
14 2018-09-01       John          Desk      2         125.0     250.0
15 2018-09-18  Alexander   Video Games     16          58.5     936.0
16 2018-10-05      Sigal  Home Theater     28         500.0   14000.0
17 2018-10-22  Alexander    Cell Phone     64         225.0   14400.0
18 2018-11-08      Karen    Cell Phone     15         225.0    3375.0
19 2018-11-25     Shelli   Video Games     96          58.5    5616.0
20 2018-12-12       John    Television     67        1198.0   80266.0
21 2018-12-29      Karen   Video Games     74          58.5    4329.0
22 2019-01-15      David  Home Theater     46         500.0   23000.0
23 2019-02-01       John  Home Theater     87         500.0   43500.0
24 2019-02-18  Alexander  Home Theater      4         500.0    2000.0
25 2019-03-07    Stephen  Home Theater      7         500.0    3500.0
26 2019-03-24       Luis   Video Games     50          58.5    2925.0
27 2019-04-10     Steven    Television     66        1198.0   79068.0
28 2019-04-27      Diana    Cell Phone     96         225.0   21600.0
29 2019-05-14      David    Television     53        1198.0   63494.0
30 2019-05-31      David  Home Theater     80         500.0   40000.0
31 2019-06-17     Shelli          Desk      5         125.0     625.0
32 2019-07-04  Alexander   Video Games     62          58.5    3627.0
33 2019-07-21      Sigal   Video Games     55          58.5    3217.5
34 2019-08-07     Shelli   Video Games     42          58.5    2457.0
35 2019-08-24    Stephen          Desk      3         125.0     375.0
36 2019-09-10      David    Television      7        1198.0    8386.0
37 2019-09-27    Stephen    Cell Phone     76         225.0   17100.0
38 2019-10-14    Michael  Home Theater     57         500.0   28500.0
39 2019-10-31     Steven    Television     14        1198.0   16772.0
40 2003-04-05      Rifat           GPU      1       45000.0   45000.0
41 2019-12-04       Luis  Home Theater     94         500.0   47000.0
42 2019-12-21     Steven  Home Theater     28         500.0   14000.0
43 2003-04-05      Rifat           GPU      1       45000.0   45000.0
44 2003-04-05      Rifat           GPU      1       45000.0   45000.0

In [17]:
df.head()

   OrderDate   Region   SalesMan          Item  Units   Unit_price   Sale_amt
0 2018-01-06     East  Alexander    Television     95        1198.0  113810.0
1 2018-01-23  Central     Shelli  Home Theater     50         500.0   25000.0
2 2018-02-09  Central       Luis    Television     36        1198.0   43128.0
3 2018-02-26  Central      David    Cell Phone     27         225.0    6075.0
4 2018-03-15     West    Stephen    Television     56        1198.0   67088.0

In [18]:
df.rename(columns={'Product': 'Item'}, inplace=True)

In [19]:
df.head()

   OrderDate   Region   SalesMan          Item  Units   Unit_price   Sale_amt
0 2018-01-06     East  Alexander    Television     95        1198.0  113810.0
1 2018-01-23  Central     Shelli  Home Theater     50         500.0   25000.0
2 2018-02-09  Central       Luis    Television     36        1198.0   43128.0
3 2018-02-26  Central      David    Cell Phone     27         225.0    6075.0
4 2018-03-15     West    Stephen    Television     56        1198.0   67088.0

In [20]:
df['Units'] = df['Units'].astype(int)
df.head()

   OrderDate   Region   SalesMan          Item  Units   Unit_price   Sale_amt
0 2018-01-06     East  Alexander    Television     95        1198.0  113810.0
1 2018-01-23  Central     Shelli  Home Theater     50         500.0   25000.0
2 2018-02-09  Central       Luis    Television     36        1198.0   43128.0
3 2018-02-26  Central      David    Cell Phone     27         225.0    6075.0
4 2018-03-15     West    Stephen    Television     56        1198.0   67088.0