In [2]:
import pandas as pd
excel_file = './copiedSalesData.xlsx'
df = pd.read_excel(excel_file)
print(type(df))
sales_data = 'sales_data.csv'
df.to_csv(sales_data, index=False)

<class 'pandas.core.frame.DataFrame'>

In [3]:
df.head(8)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0

In [4]:
df.tail(10)

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0
40,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0
42,2019-12-21,Central,Martha Mia,Steven,Home Theater,28,500.0,14000.0
43,2003-04-05,South,Pazi,Rifat,GPU,1,45000.0,45000.0
44,2003-04-05,South,Kazi,Rifat,GPU,1,45000.0,45000.0

In [5]:
df.dtypes

OrderDate       datetime64[ns]
Region                  object
Manager                 object
SalesMan                object
Item                    object
Units                    int64
 Unit_price            float64
Sale_amt               float64
dtype: object

In [11]:
    df.nunique()

OrderDate       43
Region           4
Manager          7
SalesMan        12
Item             6
Units           37
 Unit_price      6
Sale_amt        40
dtype: int64

In [8]:
df['Region'].nunique()
df['Region'].unique()
df['Region'].value_counts()

Region
Central    23
East       13
West        6
South       3
Name: count, dtype: int64

In [12]:
df.isnull().sum()

OrderDate       0
Region          0
Manager         0
SalesMan        0
Item            0
Units           0
 Unit_price     0
Sale_amt        0
dtype: int64